/* Reset default margin and padding for all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 0 2.5rem;
    align-items: center;
    font-size: 1rem;
    font-weight: 700;
    position: sticky;
    top: 0;
    z-index: 200;
    background-color: white;
}

.logoimage {
    height: 100%;
    width: 25%;
    min-height: 5rem;
    min-width: 7rem;
}

/* Link styling */
.link {
    text-decoration: none;
    /* Remove the underline */
    color: inherit;
    /* Inherit color from the parent element */
}

/* Navigation styling */
nav {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 1rem;
}

/* Styling for links in the nav */
nav a {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
}

nav a:hover {
    color: gray;
}

/* Hamburger button styling */
.btn1 {
    display: none;

}

button {
    background-color: transparent;
}

/* Media query for mobile screens (max-width: 900px) */
@media (min-width: 350px)and (max-width: 1024px) {
    header{
    display: flex;
    align-items: center;
    justify-content: center;
}
    header nav {
        z-index: 100;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: white;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        display: flex;
        transition: transform 1s ease;
        transform: translateY(-100vh);
        /* Initially hide the nav */
    }

    /* Display the hamburger icon on mobile */
    .btn1 {
        display: flex;
        background-color: white;
        border: none;
        color: black;
        font-size: 2rem;
        cursor: pointer;
        align-items: center;
        justify-content: center;
    }

    .btn1:hover {
        background-color: white;
    }

    .closebtn {
        position: fixed;
        top: .5rem;
        right: .5rem;
        display: flex;
        width: 2rem;
        background-color: transparent;
    }

    /* Show nav when responsive_nav class is toggled */
    .responsive_nav {
        transform: none;
        /* Show the menu */
    }

    nav a {
        font-size: 1.25rem;
        /* Adjust the font size for mobile */
    }
}